<?xml version='1.0' encoding='UTF-8'?>
<!--日志配置-->
<configuration debug="false">
    <!--禁止打印logback启动日志-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!--控制台日志-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %logger{17}| %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--创建一个具体的日志输出-->
    <logger name="org.wh.park" level="debug" additivity="false">
        <!--可以有多个appender-ref，即将日志记录到不同的位置-->
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>